<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cadastrar serviços</title>
    <link rel='stylesheet' href='/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/css/adminlte.min.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <main>
      <div class='content-header'>
        <div class='container-fluid'>
          <h1>Novo serviço</h1>
        </div>
      </div>
      <div class='content'>
        <div class='container-fluid'>
          <form action='/admin/servicos' method='post'>
            <div class='card'>
              <div class='card-body'>
                <fieldset>
                  <legend>Identificação</legend>
                  <div class='row'>
                    <div class='col-lg-12'>
                      <div class='col-lg-3'>
                        <div class='{{alert}}'>
                          <p>{{{message}}}</p>
                        </div>
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <label for='nome'>Nome</label>
                        <input
                          type='text'
                          name='nome'
                          class='form-control'
                          value='{{oldData.0.nome}}'
                          placeholder='Nome do serviço'
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <label for='icone'>Ícone</label>
                        <select name='icone' id='icone' class='form-control'>
                          <option value='{{#if message}}{{oldData.0.icone}}{{^}}Selecione o Icone{{/if}}'>
                          {{#if message}}{{oldData.0.icone}}{{^}}Selecione o Icone{{/if}}
                          </option>
                          <option value='twf-cleaning-1'>Ícone 1</option>
                          <option value='twf-cleaning-2'>Ícone 2</option>
                          <option value='twf-cleaning-3'>Ícone 3</option>
                        </select>
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <label for='posicao'>Posição na plataforma</label>
                        <input
                          type='text'
                          name='posicao'
                          class='form-control'
                          value='{{oldData.0.posicao}}'
                          placeholder='Posição do serviço na plataforma'
                        />
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Globais</legend>
                  <div class='row'>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <label for='valorMinimo'>Valor mínimo</label>
                        <input
                          type='text'
                          name='valorMinimo'
                          class='form-control'
                          value='{{oldData.0.valorMinimo}}'
                          placeholder='Valor mínimo do serviço'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <label for='quantidadeHoras'>Quantidade mínima de horas</label>
                        <input
                          type='number'
                          name='quantidadeHoras'
                          class='form-control'
                          value='{{oldData.0.quantidadeHoras}}'
                          placeholder='Quantidade mínima de horas'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-4'>
                      <div class='form-group'>
                        <label for='porcentagem'>Porcentagem da comissão</label>
                        <input
                          type='text'
                          name='porcentagem'
                          class='form-control'
                          value='{{oldData.0.porcentagem}}'
                          placeholder='Porcentagem da comissão'
                          data-mask="000"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Cômodos</legend>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='valorQuarto'>Valor por quarto</label>
                        <input
                          type='text'
                          name='valorQuarto'
                          class='form-control'
                          value='{{oldData.0.valorQuarto}}'
                          placeholder='Valor por quarto'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='horasQuarto'>Quantidade de horas por quarto</label>
                        <input
                          type='number'
                          name='horasQuarto'
                          class='form-control'
                          value='{{oldData.0.horasQuarto}}'
                          placeholder='Quantidade de horas por quarto'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='valorSala'>Valor por sala</label>
                        <input
                          type='text'
                          name='valorSala'
                          class='form-control'
                          value='{{oldData.0.valorSala}}'
                          placeholder='Quantidade Valor por sala'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='horasSala'>Quantidade de horas por sala</label>
                        <input
                          type='number'
                          name='horasSala'
                          class='form-control'
                          value='{{oldData.0.horasSala}}'
                          placeholder='Quantidade de horas por sala'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='valorBanheiro'>Valor por banheiro</label>
                        <input
                          type='text'
                          name='valorBanheiro'
                          class='form-control'
                          value='{{oldData.0.valorBanheiro}}'
                          placeholder='Quantidade Valor por banheiro'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='horasBanheiro'>Quantidade de horas por
                          banheiro</label>
                        <input
                          type='number'
                          name='horasBanheiro'
                          class='form-control'
                          value='{{oldData.0.horasBanheiro}}'
                          placeholder='Quantidade de horas por banheiro'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='valorCozinha'>Valor por cozinha</label>
                        <input
                          type='text'
                          name='valorCozinha'
                          class='form-control'
                          value='{{oldData.0.valorCozinha}}'
                          placeholder='Quantidade Valor por cozinha'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='horasCozinha'>Quantidade de horas por
                          cozinha</label>
                        <input
                          type='number'
                          name='horasCozinha'
                          class='form-control'
                          value='{{oldData.0.horasCozinha}}'
                          placeholder='Quantidade de horas por cozinha'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='valorQuintal'>Valor por quintal</label>
                        <input
                          type='text'
                          name='valorQuintal'
                          class='form-control'
                          {{oldData.0.valorQuintal}}
                          placeholder='Quantidade Valor por quintal'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='horasQuintal'>Quantidade de horas por
                          quintal</label>
                        <input
                          type='number'
                          name='horasQuintal'
                          class='form-control'
                          value='{{oldData.0.horasQuintal}}'
                          placeholder='Quantidade de horas por quintal'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class='row'>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='valorOutros'>Valor por outros tipos de
                          cômodos</label>
                        <input
                          type='text'
                          name='valorOutros'
                          class='form-control'
                          value='{{oldData.0.valorOutros}}'
                          placeholder='Quantidade Valor por outros tipos de cômodos'
                          data-mask="#.##0,00"
                          data-mask-reverse="true"
                          required
                        />
                      </div>
                    </div>
                    <div class='col-md-6'>
                      <div class='form-group'>
                        <label for='horasOutros'>Quantidade de horas por outros
                          tipos de cômodos</label>
                        <input
                          type='number'
                          name='horasOutros'
                          class='form-control'
                          value='{{oldData.0.horasOutros}}'
                          placeholder='Quantidade de horas por outros tipos de cômodos'
                          data-mask="0"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class='row'>
                  <div class='col-md-4'>
                    <div class='form-group'>
                      <button
                        class='btn btn-primary'
                        type='submit'
                      >Salvar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>